body {
  height: 100vh;
  background: rgb(1, 97, 181);
  background: -moz-linear-gradient(0deg, rgba(1, 97, 181, 0.8404823110884979) 34%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(1, 97, 181, 0.8404823110884979) 34%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(1, 97, 181, 0.8404823110884979) 34%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0161b5",endColorstr="#ffffff",GradientType=1);
}
.nuvola {
  height: 200px;
}

#card {
  border: 1px solid #0161b5;
  box-shadow: 13px 7px 5px #0161b5;
}

#cardbody {
  background: rgb(0, 65, 122);
  background: -moz-linear-gradient(0deg, rgba(0, 65, 122, 1) 0%, rgba(255, 255, 255, 1) 62%);
  background: -webkit-linear-gradient(0deg, rgba(0, 65, 122, 1) 0%, rgba(255, 255, 255, 1) 62%);
  background: linear-gradient(0deg, rgba(0, 65, 122, 1) 0%, rgba(255, 255, 255, 1) 62%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00417a",endColorstr="#ffffff",GradientType=1);
}
